@(users: Seq[User])(implicit flash: Flash)

@main("Users") {

  <p><a href="@routes.Application.blank" class="btn btn-success"><i class="icon-plus icon-white"></i> Add User</a></p>

  @if(!users.isEmpty) {
    <table class="table table-striped">
      <tr>
        <th>id</th>
        <th>Name</th>
        <th>Description</th>
        <th></th>
      </tr>
    @for(user <- users) {
      <tr>
        <td>@user.id</a></td>
        <td>@user.name</td>
        <td>@user.description</td>
      </tr>
    }
    </table>
  }
}
